.section-banners {
    padding-top: 32px;
    padding-bottom: 62px;
    background-color: rgb(219 219 219);
}

.section-banners .global-section-title {
    margin-bottom: 32px;
}

.section-banners .banners-wrapper {
    display: grid;
    grid-row-gap: 48px;
    margin-bottom: 52px;
}

.section-banners .banner-item {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}

.section-banners .banner-item__text {
    position: absolute;
    top: 40px;
    left: 50px;
    right: 50px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    color: rgb(255 255 255);
}

.section-banners .banner-item__title {
    margin-bottom: 12px;
    font-size: 38px;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .section-banners .banner-item__text {
        top: 50%;
        max-width: 300px;
        transform: translateY(-50%);
    }

    .section-banners .global-section-title {
        text-align: center;
    }
}

@media (min-width: 1024px) {
    .section-banners {
        padding-top: 60px;
        padding-bottom: 90px;
    }

    .section-banners .global-section-title {
        margin-bottom: 64px;
    }

    .section-banners .banners-wrapper {
        margin-bottom: 82px;
        grid-row-gap: 64px;
    }
}

@media (min-width: 1280px) {
    .section-banners .banner-item__text {
        left: 70px;
    }

    .section-banners .banner-item__title {
        font-size: 51px;
    }
}